*{
    margin: 0px;
    padding: 0px;
}
html{
    height: 3000px;
}

.nav_bar{
    background-color: rgb(220, 217, 217);
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
    width: 100%;
    position: fixed;
    
}

h1{
    position: absolute;
    left: 3px;
}

.menu{
    margin-left: 10px;
    margin-top: 12px;
   
}
a{
    text-decoration: none;
    color: whitesmoke;
}

.background_1{
    margin-left: 100px;
}

p{
    margin: 80px;
    font-size: 24px;
    font-family: serif;
}
#cs_img{
    margin-top: 70px;
}

.container_1{
   display: grid;
   grid-template-columns: 300 300;
   grid-template-rows: 300;
   grid-template-areas: 
   "section aside"
   ;
   column-gap: 10px;
}

section{
    grid-area: section;
    
}
aside{
    background-color: black;
    
    grid-area: div;
}
