*{
    margin: 0px;
    padding: 0px;

}
body{
    margin: 0px;
}
.csLogoContainer{
    margin-top: 20px;
    width: 400px;
    
}

#csLogo{
    top: 20px;
    width: 100%;

}



header{
    background-color: aqua;
    height: 160px;
    width: 100%;
   

    
}


.logo{
    width: 300px;
    display: flex;
    float: right;
    top: 15px;
    right: 20px;
    
    
}


#img1{
    margin: 8px;
}
#img1:hover{
    cursor: pointer;
    opacity: 0.8;
}
#img2{
    margin: 8px;
}
#img2:hover{
    cursor: pointer;
    opacity: 0.8;
}
#img3{
    margin: 8px;
}
#img3:hover{
    cursor: pointer;
    opacity: 0.8;
}
#img4{
    margin: 8px;
}
#img4:hover{
    cursor: pointer;
    opacity: 0.8;
}

.navbar{
    background-color: blue;
    
    position: relative;
    
}
#contact{
    margin-right: 0%;
    margin-left: 2px;
    width: 194px;
    position: absolute;
}

button{
    cursor: pointer;
    border: none;
    margin-top: 5px;
    margin-right: 0.5px;
    padding: 8px;
    text-align:center;
    color : white;
    width: 185px;
    background-color: rgb(4, 4, 94);
    height: 38px;
}

button:hover{
    background-color: rgb(47, 153, 153);
}
button:active{
    background-color: rgb(47, 153, 153);
}
.paragraph_content_1{
    margin: 80px;
    font-size: 28px;
    color: #485667;
}

#pic1{
    margin: 0%;
    width: 100%;
}

.content3_container{
    background-color: rgb(3, 3, 127);
    
    display: flex;
    justify-content: center;
    padding: 100px;
    margin-bottom: 150px;
}

.item{
    height: 100px;
    background-color: #FFFFFF;
    margin: 15px;
    padding: 30px;
    text-align: center;
    
}

.item:hover{
    background-color: lightgray;
    cursor: pointer;
}

h1{
    color: #FFFFFF;
    float:top ;
}

footer{
    height: 400px;
    background-color: rgb(76, 66, 53);
    width: 100%;
    position: relative;
   
}

.footer_container{
    display: grid;
    grid-template-columns: 357px 357px 357px;
    width: 80%;
    height: 300px;
    position: absolute;
    top: 70px;
    left: 150px;

}

.footer_item{
    text-align: center;
    
}

.footer_menu{
    line-height: 3;
    text-decoration: none;
}

.footer_menu_link{
    text-decoration: none;
    color: lightgrey;
}

.footer_menu_link:hover{
    cursor: pointer;
    color: beige;
    
}

.follow_us_logo{
    width: 10%;
    margin: 4px;
}

.follow_us_logo:hover{
    cursor: pointer;
    opacity: 0.8;
}
.edit_color{
    color: #FFFFFF;
}
a{
    text-decoration: none;
    color: rgb(12, 12, 128);
}