*{
    margin: 0;
    padding: 0;
}



#header{
    height: 300px;
    background-color:rgb(66, 27, 27);
    
}
.big_nav_bar{
    display: grid;
    grid-template-columns: 60px 60px 80px auto;
    grid-template-rows: 60px;
    column-gap: 30px;
    background-color: rgb(79, 66, 66);
    color: white;
    
}
.big_nav_bar_item{
    margin-top: 15px;
    margin-left: 150px;
}

.big_nav_bar_item:hover{
    cursor: pointer;
    opacity: 0.7;
}

.logo_and_text{
    width: 50%;
}
.logo_and_text:hover{
    cursor: pointer;
}

.comp_img{
   width: 70%;
}

.small_text{
    color: white;
    font-size: 24px;
    margin-left: 200px;
}

.email_class{
    width: 300px;
    height: 40px;
    float: right;
    margin-right: 10px;
}

.topic{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    color:rgb(48, 3, 48);
}

a{
    text-decoration: none;
    color: white;
}
.topic_2{
    color: rgb(48, 3, 48);
    text-align: center;
}
.paragraph_1{
    color: rgb(93, 79, 93) ;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.tempo_container{
    margin-top: 40px;
}

.content_text{
    background-color: rgb(217, 233, 233);
    
   
}
.content_image{
    background-color: rgb(213, 237, 237);
    
  
}

.main_content_container{
   display: grid;
   grid-template-columns: 500px 500px;
   grid-template-rows: 335px 335px 335px;
   gap: 30px;
   margin-left: 150px;
   margin-top: 60px;
   margin-bottom: 20px;
}
h2{
    background-color: rgb(138, 119, 7);
    height: 50px;
    padding: 15px;

}
.content_text_{
    color:rgb(93, 79, 93) ;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
